<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/Logo.png" alt="" width="50" height="44" class="d-inline-block align-text-top animate__animated animate__headShake"> Curriculum Vitae
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" routerLink="home">Información Personal</a>
                <a class="nav-link" routerLinkActive="active" routerLink="profesional">Actividad Profesional</a>
                <a class="nav-link" routerLinkActive="active" routerLink="quehago">Formación</a>
                <a class="nav-link" routerLinkActive="active" routerLink="actualidad">Hoy..</a>
            </div>
        </div>
    </div>
</nav>