<div class="col m-4">
    <div class="row">
        <h2>Portfolio y Desarrollo Profesional</h2>
        <hr>
        <div class="card m-2 shadow animate__animated animate__fadeIn animate__faster" style="width: max;">
            <div class="card-body">
                <h5 class="card-title">Trabajo de Capacitación Práctica - Portfolio💼</h5>
                <h6 class="card-subtitle mb-2 text-muted">Continuar la formación - Consultor: Ing. en Sist. Adrian Borella</h6>
                <p class="card-text">Desarrollos de Soluciones utilizando Angular Framework a partir de problemáticas o necesidades de negocio</p>

                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="card-text">
                            <strong>Sitio Personal :</strong> Sitio web personal para compartir mi experiencia y CV en general. SPA realizada en Framework Angular.
                            <br>
                            <strong>Repositorio: </strong> <a href="enlace_al_repositorio">Enlace al repositorio</a>
                            <br>
                            <strong>Link Desarrollo:</strong> <a href="enlace_al_sitio">Enlace al sitio en desarrollo</a>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text">
                            <strong>Birthday Reminder: </strong> Recordatorio de cumpleaños con generación de tarjeta de felicitación personalizada. CRUD/ABM efectuado en Framework Angular, inicialmente desarrollado con conexión al backend en Pocketbase
                            y luego migrado a Firebase Hosting y Firestore.
                            <br>
                            <strong>Repositorio: </strong> <a href="enlace_al_repositorio">Enlace al repositorio</a>
                            <br>
                            <strong>Link Desarrollo:</strong> <a href="enlace_al_sitio">Enlace al sitio en desarrollo</a>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text">
                            <strong>GeoHealth: </strong> Aplicativo para visualizar los servicios de salud más cercanos con la intención de disminuir costos de traslado. CRUD/ABM efectuado en Framework Angular, con Firebase Login, Firestore y Firebase
                            Hosting; se utiliza API de Geolocalización y Mapa de Google.
                            <br>
                            <strong>Repositorio: </strong> <a href="enlace_al_repositorio">Enlace al repositorio</a>
                            <br>
                            <strong>Link Desarrollo:</strong> <a href="enlace_al_sitio">Enlace al sitio en desarrollo</a>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text">
                            <strong>Enough Boring Holidays: </strong> Aplicativo para organizar planes durante los feriados o fines de semana largos. <i>(En desarrollo)</i>.
                            <br>
                            <strong>Repositorio: </strong>
                            <br>
                            <strong>Link Desarrollo:</strong>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card m-2 shadow animate__animated animate__fadeIn animate__faster" style="width: max;">
            <div class="card-body">
                <h5 class="card-title">Angular Framework</h5>
                <h6 class="card-subtitle mb-2 text-muted">Desarrollo Frontend</h6>
                <p class="card-text">Actualmente me encuentro realizando un curso Avanzado de Angular, con el instructor Fernando Herrera. Hace poco terminé un curso introductorio, no obstante esto siento que mi manera de aprender está vinculada a la práctica. Utilizo los
                    cursos para realizar desarrollos breves (como este)✍
                </p>
                <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-3b2e2aba-8346-4635-a299-d9b681c4abf4.pdf" target="_blank" class="card-link">Certificado Curso</a>
                <a href="https://www.udemy.com/share/101xkO3@QKVMvrIBeNSvllyystQsc6pjJZRZAEK8ZUtaSlUVqn8z32FbTDkueVsahRpVxk1a/" target="_blank" class="card-link">Angular Avanzado (en proceso)</a>
            </div>
        </div>

        <div class="card m-2 shadow animate__animated animate__fadeIn animate__faster" style="width: max;">
            <div class="card-body">
                <h5 class="card-title">Idioma Inglés 💂</h5>
                <h6 class="card-subtitle mb-2 text-muted">Comunicación</h6>
                <p class="card-text">Me encuentro cursando el nivel pre-intermediate en Team-Up instituto de Inglés de la ciudad de Rosario.
                </p>
                <!-- <a href="" target="_blank" class="card-link">1er año</a> -->
                <!-- <a href="" target="_blank" class="card-link">2do año - 1er cuatrimestre</a> -->
            </div>
        </div>
    </div>
</div>