<div class="col m-4">
    <div class="row">
        <h2>Hoy</h2>
        <hr>
        <div class="card m-2 animate__animated animate__fadeIn animate__faster" style="width: max;">
            <div class="card-body">
                <h5 class="card-title">Backend y Negocio</h5>
                <h6 class="card-subtitle mb-2 text-muted">Continuar la formación</h6>
                <p class="card-text"> Durante la carrera de Técnico Sup. en Desarrollo de Software comencé a formarme en PHP y Python como lenguajes base para lógica del Backend. Sin embargo, creo que mi conocimiento sobre ambas tecnologías es aún muy limitado. Debido a mi
                    trabajo, tuve oportunidad de conocer en gran médida como funciona la lógica de negocio en el sector privado, tanto en atención a PyMES como en Empresas Multinacionales. Siento un gran deseo por tener desafíos que me permitan utilizar
                    el conocimiento adquirido en estos diez años y articularlo con nuevos aprendizajes técnicos que permitan continuar mi desarrollo a través de la materialización de soluciones, en equipo y de manera colaborativa.
                </p>
            </div>
        </div>
        <div class="card m-2 animate__animated animate__fadeIn animate__faster" style="width: max;">
            <div class="card-body">
                <h5 class="card-title">Angular Framework</h5>
                <h6 class="card-subtitle mb-2 text-muted">Desarrollo Frontend</h6>
                <p class="card-text">Actualmente me encuentro realizando un curso Avanzado de Angular, con el instructor Fernando Herrera. Hace poco terminé un curso introductorio, no obstante esto siento que mi manera de aprender está más vinculada a la práctica, por eso
                </p>
                <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-3b2e2aba-8346-4635-a299-d9b681c4abf4.pdf" target="_blank" class="card-link">Certificado Curso</a>
                <a href="https://www.udemy.com/share/101xkO3@QKVMvrIBeNSvllyystQsc6pjJZRZAEK8ZUtaSlUVqn8z32FbTDkueVsahRpVxk1a/" target="_blank" class="card-link">Angular Avanzado (en proceso)</a>
            </div>
        </div>

        <div class="card m-2 animate__animated animate__fadeIn animate__faster" style="width: max;">
            <div class="card-body">
                <h5 class="card-title">Idioma Inglés</h5>
                <h6 class="card-subtitle mb-2 text-muted">Comunicación</h6>
                <p class="card-text">Me encuentro cursando el nivel intermediate en el CLEC de la Universidad Nacional de Rosario. Lo que más me interesa del idioma es poder vincularme con otras personas para seguir aprendiendo.
                </p>
                <!-- <a href="" target="_blank" class="card-link">1er año</a> -->
                <!-- <a href="" target="_blank" class="card-link">2do año - 1er cuatrimestre</a> -->
            </div>
        </div>
    </div>
</div>